<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.proxy.dao.ProxyLogMapper">

    <sql id="allColumns">
        pl.id, pl.proxy_id, pl.mac_address, pl.host_ip, pl.host_name, pl.os_name, pl.client_version, pl.user_dir,
        pl.computer_name, pl.computer_user_name, pl.online_time, pl.create_by, pl.create_by_name, pl.create_time, pl.update_by, pl.update_by_name,
        pl.update_time,pl.memory_info,pl.cpu_use_age,pl.cpu_model
    </sql>

    <select id="getPage" parameterType="cn.xianyum.proxy.entity.request.ProxyLogRequest" resultType="cn.xianyum.proxy.entity.response.ProxyLogResponse">
        SELECT
            <include refid="allColumns" />,
            p.`name` AS proxyName
        FROM
            proxy_log pl
            LEFT JOIN proxy p on pl.proxy_id = p.id
        <where>
            <if test="request.proxyId != null and request.proxyId != ''">
                AND pl.proxy_id = #{request.proxyId}
            </if>
        </where>
        ORDER BY pl.create_time desc
    </select>

</mapper>
