<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.mqtt.dao.MqttFishMapper">

    <select id="getReportLineData" resultType="cn.xianyum.mqtt.entity.response.MqttFishResponse" parameterType="cn.xianyum.mqtt.entity.request.MqttFishRequest">
        SELECT
        <if test="params.dateType != null and params.dateType == 0">
            DATE_FORMAT(mf.create_time, '%Y-%m-%d %H' ) as dateStr,
        </if>
        <if test="params.dateType != null and params.dateType == 1">
            DATE_FORMAT(mf.create_time, '%Y-%m-%d' ) as dateStr,
        </if>
        ROUND(AVG(mf.indoor_temp), 1) as indoor_temp,
        ROUND(AVG(mf.indoor_humidity), 1) as indoor_humidity,
        ROUND(AVG(mf.fish_tank_tds), 1) as fish_tank_tds,
        ROUND(AVG(mf.fish_tank_temp), 1) as fish_tank_temp
        FROM
        mqtt_fish mf
        <where>
            <if test="params.dateType != null and params.dateType == 0">
                mf.create_time >= DATE_SUB(NOW(), INTERVAL 30 HOUR)
            </if>
            <if test="params.dateType != null and params.dateType == 1">
                mf.create_time >= DATE_SUB(NOW(), INTERVAL 34 DAY)
            </if>
            GROUP BY
            <if test="params.dateType != null and params.dateType == 0">
                DATE_FORMAT(mf.create_time,'%Y-%m-%d %H')
            </if>
            <if test="params.dateType != null and params.dateType == 1">
                DATE_FORMAT(mf.create_time,'%Y-%m-%d')
            </if>
            ORDER BY
            <if test="params.dateType != null and params.dateType == 0">
                MAX(mf.create_time) DESC
            </if>
            <if test="params.dateType != null and params.dateType == 1">
                MAX(mf.create_time) DESC
            </if>
            LIMIT
            <if test="params.dateType != null and params.dateType == 0">
                24
            </if>
            <if test="params.dateType != null and params.dateType == 1">
                31
            </if>
        </where>
    </select>


    <select id="queryTotalCount" resultType="java.lang.Long">
        SELECT
            MAX(mf.id)
        FROM
        mqtt_fish mf
    </select>

    <select id="getHourlyLatestData" resultType="cn.xianyum.mqtt.entity.po.MqttFishEntity">
        SELECT
            mf.*
        FROM
            mqtt_fish mf
        INNER JOIN (
            SELECT
                MAX(id) AS max_id
            FROM
                mqtt_fish
            WHERE
                create_time >= DATE_SUB(NOW(), INTERVAL 24 HOUR)
            GROUP BY
                FLOOR(UNIX_TIMESTAMP(create_time) / 3600)
        ) t ON mf.id = t.max_id
        ORDER BY
            mf.create_time DESC
    </select>
</mapper>
