<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.mqtt.dao.MqttFishMapper">

    <select id="getReportLineData" resultType="cn.xianyum.mqtt.entity.response.MqttFishResponse" parameterType="cn.xianyum.mqtt.entity.request.MqttFishRequest">
        SELECT
        <if test="request.dateType != null and request.dateType == 0">
            DATE_FORMAT(mf.create_time, '%Y-%m-%d %H' ) as dateStr,
        </if>
        <if test="request.dateType != null and request.dateType == 1">
            DATE_FORMAT(mf.create_time, '%Y-%m-%d' ) as dateStr,
        </if>
        ROUND(AVG(mf.indoor_temp), 1) as indoor_temp,
        ROUND(AVG(mf.indoor_humidity), 1) as indoor_humidity,
        ROUND(AVG(mf.fish_tank_tds), 1) as fish_tank_tds,
        ROUND(AVG(mf.fish_tank_temp), 1) as fish_tank_temp
        FROM
        mqtt_fish mf
        <if test="request.dateType != null and request.dateType == 0">
            GROUP BY
            DATE_FORMAT(mf.create_time,'%Y-%m-%d %H')
            ORDER BY DATE_FORMAT(mf.create_time,'%Y-%m-%d %H') DESC
            LIMIT 25
        </if>
        <if test="request.dateType != null and request.dateType == 1">
            GROUP BY
            DATE_FORMAT(mf.create_time,'%Y-%m-%d')
            ORDER BY DATE_FORMAT(mf.create_time,'%Y-%m-%d') DESC
            LIMIT 18
        </if>
    </select>

    <select id="queryTotalCount" resultType="java.lang.Long">
        SELECT
            MAX(mf.id)
        FROM
        mqtt_fish mf
    </select>
</mapper>
