@font-face {
  font-family: "iconfont";
  src: url('@/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-zhifupingtai-zhifubao:before {
  content: "\e613";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-app:before {
  content: "\e605";
}

.icon-banbenguanli:before {
  content: "\e73b";
}

.icon-cpu1:before {
  content: "\e604";
}

.icon-cpu2:before {
  content: "\e9c8";
}

.icon-bijiben:before {
  content: "\e603";
}

.icon-cpu:before {
  content: "\e650";
}

.icon-yugang:before {
  content: "\e66e";
}

.icon-neicun-copy:before {
  content: "\e60b";
}

.icon-jvm:before {
  content: "\e601";
}

.icon-jvm1:before {
  content: "\e61b";
}

.icon-CPU:before {
  content: "\e602";
}

.icon-fuwuqi:before {
  content: "\e98e";
}

.icon-cipanzhuangtai:before {
  content: "\e728";
}

.icon-zaixianyonghujiankong:before {
  content: "\e60a";
}

.icon-zaixianyonghu:before {
  content: "\e6ad";
}

.icon-BIshujuzhongxin:before {
  content: "\e614";
}

.icon-hangshijilu:before {
  content: "\e600";
}

.icon-iot:before {
  content: "\e916";
}

