@font-face {
  font-family: "iconfont";
  src: url('@/static/font/iconfont.ttf') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zaixianyonghujiankong:before {
  content: "\e60a";
}

.icon-zaixianyonghu:before {
  content: "\e6ad";
}

.icon-BIshujuzhongxin:before {
  content: "\e614";
}

.icon-hangshijilu:before {
  content: "\e600";
}

.icon-iot:before {
  content: "\e916";
}

