<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.extension.dao.EvDriveRecordsMapper">

    <select id="selectSummaryData" resultType="map" parameterType="cn.xianyum.extension.entity.request.EvDriveRecordsRequest">
        SELECT
            sum(edr.distance_km) as totalDistanceKm,
            sum(edr.electricity_consumed) as totalElectricityConsumed,
            ROUND(sum(edr.electricity_consumed) / sum(edr.distance_km), 2) AS electricityPerKm
        FROM
            ev_drive_records edr
        <where>
            <if test="request.vehicleNo != null and request.vehicleNo != ''">
                AND edr.vehicle_no LIKE CONCAT('%', #{vehicleNo}, '%')
            </if>
            <if test="request.params.beginTime != null and request.params.beginTime != ''">
                AND edr.drive_date &gt;= #{request.params.beginTime}
            </if>
            <if test="request.params.endTime != null and request.params.endTime != ''">
                AND edr.drive_date &lt;= #{request.params.endTime}
            </if>
        </where>
    </select>

    <select id="selectReportLineData"  parameterType="cn.xianyum.extension.entity.request.EvDriveRecordsRequest">
        SELECT
        <if test="request.dateType != null and request.dateType == 0">
            DATE_FORMAT(edr.drive_date, '%Y-%m-%d' ) as driveDate,
        </if>
        <if test="request.dateType != null and request.dateType == 1">
            DATE_FORMAT(edr.drive_date, '%Y-%m' ) as driveDate,
        </if>
        sum(edr.distance_km) as totalDistanceKm,
        sum(edr.electricity_consumed) as totalElectricityConsumed,
        ROUND(sum(edr.electricity_consumed) / sum(edr.distance_km), 2) AS electricityPerKm
        FROM
        ev_drive_records edr
        <where>
            <if test="request.timeRange != null and request.timeRange.size() > 1">
                <if test="request.dateType != null and request.dateType == 0">
                    AND DATE_FORMAT(edr.drive_date,'%Y-%m-%d') &gt;= #{request.timeRange[0]}
                    AND DATE_FORMAT(edr.drive_date,'%Y-%m-%d') &lt;= #{request.timeRange[1]}
                </if>
                <if test="request.dateType != null and request.dateType == 1">
                    AND DATE_FORMAT(edr.drive_date,'%Y-%m') &gt;= #{request.timeRange[0]}
                    AND DATE_FORMAT(edr.drive_date,'%Y-%m') &lt;= #{request.timeRange[1]}
                </if>
            </if>
        </where>
        <if test="request.dateType != null and request.dateType == 0">
            GROUP BY
            DATE_FORMAT(edr.drive_date,'%Y-%m-%d')
            ORDER BY DATE_FORMAT(edr.drive_date,'%Y-%m-%d') asc
        </if>
        <if test="request.dateType != null and request.dateType == 1">
            GROUP BY
            DATE_FORMAT(edr.drive_date,'%Y-%m')
            ORDER BY DATE_FORMAT(edr.drive_date,'%Y-%m') asc
        </if>
    </select>
</mapper>
