<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.LogMapper">

    <!-- 表所有字段 -->
    <sql id="allColumns">
        id, username, operation, method, params, time, ip, ip_info as "ipInfo",
        create_time as "createTime"
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="queryAll" resultType="com.base.entity.po.LogEntity" parameterType="com.base.entity.request.LogRequest">
        SELECT
        <include refid="allColumns" />
        FROM user_log WHERE 1 = 1
        <if test="logRequest.nameOrDesc != null and logRequest.nameOrDesc != ''">
            AND
            (
            username LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            OR
            operation LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            )
        </if>
        <if test="logRequest.startTime != null and logRequest.startTime != ''">
            AND create_time &gt;= #{logRequest.startTime}
        </if>
        <if test="logRequest.endTime != null and logRequest.endTime != ''">
            AND create_time &lt;= #{logRequest.endTime}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getCount" parameterType="com.base.entity.request.LogRequest" resultType="java.lang.Integer">

        SELECT
        COUNT(*)
        FROM
        user_log
        WHERE
        create_time &lt;= CONCAT(#{queryTime},' 23:59:59')
        and create_time >= CONCAT(#{queryTime},' 00:00:00')
    </select>


    <select id="getVisitCountCharts" parameterType="com.base.entity.request.LogRequest" resultType="com.base.entity.response.LogResponse">

        SELECT
        tbr.count AS visitCount,
        tbl._date AS time
        FROM
            (
        SELECT
            @s := @s + 1 AS _index,
            DATE_FORMAT( DATE_SUB( #{endTime}, INTERVAL @s DAY),'%Y-%m-%d'
            ) AS _date FROM information_schema.TABLES, ( SELECT @s := - 1 ) temp ) AS tbl
            LEFT JOIN (
        SELECT
            count(*) as count,
            DATE_FORMAT( create_time, '%Y-%m-%d' ) AS timeDate
        FROM
            user_log
        <where>
            <if test="nameOrDesc != null and nameOrDesc != ''">
                AND
                (
                username LIKE CONCAT('%', #{nameOrDesc}, '%')
                OR
                operation LIKE CONCAT('%', #{nameOrDesc}, '%')
                )
            </if>
        </where>
        GROUP BY
            DATE_FORMAT(create_time,'%Y-%m-%d')
            ) AS tbr ON tbl._date = tbr.timeDate
        ORDER BY
            tbl._date DESC
        limit 15
    </select>
</mapper>