<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.LogMapper">

    <!-- 表所有字段 -->
    <sql id="allColumns">
        id, username, operation, method, params, time, ip, ip_info as "ipInfo",
        create_time as "createTime"
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="queryAll" resultType="com.base.entity.po.LogEntity" parameterType="com.base.entity.request.LogRequest">
        SELECT
        <include refid="allColumns" />
        FROM user_log WHERE 1 = 1
        <if test="logRequest.nameOrDesc != null and logRequest.nameOrDesc != ''">
            AND
            (
            username LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            OR
            operation LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            )
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getCount" parameterType="com.base.entity.request.LogRequest" resultType="java.lang.Integer">

        SELECT
        COUNT(*)
        FROM
        user_log
        WHERE
        create_time &lt;= CONCAT(#{queryTime},' 23:59:59')
        and create_time >= CONCAT(#{queryTime},' 00:00:00')
    </select>
</mapper>