<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.UserMapper">
    <sql id="userColumns">
        a.id,
        a.username,
        a.password,
        a.salt,
        a.email,
        a.mobile,
        a.status,
        a.create_time AS "createTime",
        a.del_tag AS "delTag",
        a.permission
    </sql>

    <select id="queryAll" parameterType="com.base.entity.request.UserRequest" resultType="com.base.entity.po.UserEntity">
        SELECT
        <include refid="userColumns"/>
        from  user a
        <where>
            a.del_tag = 0
            <if test="user.username != null and user.username != ''">
            AND a.username LIKE CONCAT('%', #{user.username}, '%')
            </if>
        </where>
        ORDER BY a.create_time desc
    </select>

    <select id="getList" parameterType="com.base.entity.request.UserRequest" resultType="com.base.entity.po.UserEntity">
        SELECT
        <include refid="userColumns"/>
        from user a
        WHERE
        a.del_tag = 0
        AND
        (
        a.mobile = #{mobile}
        OR
        a.username = #{username}
        )
    </select>
</mapper>