<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.message.dao.MessageTypeConfigMapper">

    <update id="updateSendCount" parameterType="string">

        UPDATE
            message_type_config
        SET
            send_count = send_count + 1
        WHERE
            message_code = #{messageCode}
    </update>
</mapper>
