<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style='width:640px;background-image: url("..//static/images/bg.jpg"); border:solid 1px #efefef; margin:0 auto; padding:35px 0 35px 0'>
    <table  width='560' border='0' align='center' cellpadding='0' cellspacing='0' style=' margin:0 auto; margin-left:30px; margin-right:30px; ' >
           <tbody>
          <tr>
                 <td>
                    <h2 style='font-weight:normal; font-size:18px'>hello！亲爱的用户:<span style='font-weight:bold; margin-left:5px;' ></span></h2>
                <p style='margin:5px 0; padding:3px 0;color:#666; font-size:14px'>您的验证码为:</p>
                 <p style='color:#666; font-size:14px'><h3><a th:text="${emailCode}"></h3>
                 </p>
                <p style='margin:0 0 5px 0; padding:0 0 3px 0;'>

                <p style='margin:5px 0; padding:3px 0;color:#666; font-size:14px'>验证码有效期为3分钟！感谢您注册本系统。</p><br>
                     <a href='https://gitee.com/javzhangwei_admin/events' style='display:inline-block; width:105px; text-align:center; background:#2980b9; color:#fff;  font-size:16px; text-decoration:none; line-height:34px; padding:0;border-radius:5px;' target='_blank'>码云地址</a></p>
                  <p style='text-align:center'><img src=''></p>
                </td>
            </tr>
           </tbody>
        </table>
    </div>
</body>
</html>