<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xianyum.system.dao.LogMapper">

    <!-- 表所有字段 -->
    <sql id="allColumns">
        id, username, operation, method, params, time, ip, ip_info as "ipInfo",
        create_time as "createTime"
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="queryAll" resultType="cn.xianyum.system.entity.po.LogEntity" parameterType="cn.xianyum.system.entity.request.LogRequest">
        SELECT
        <include refid="allColumns" />
        FROM user_log WHERE 1 = 1
        <if test="logRequest.nameOrDesc != null and logRequest.nameOrDesc != ''">
            AND
            (
            username LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            OR
            operation LIKE CONCAT('%', #{logRequest.nameOrDesc}, '%')
            )
        </if>
        <if test="logRequest.startTime != null and logRequest.startTime != ''">
            AND create_time &gt;= #{logRequest.startTime}
        </if>
        <if test="logRequest.endTime != null and logRequest.endTime != ''">
            AND create_time &lt;= #{logRequest.endTime}
        </if>
        <if test="logRequest.username != null and logRequest.username != ''">
            AND username = #{logRequest.username}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getCount" parameterType="cn.xianyum.system.entity.request.LogRequest" resultType="java.lang.Integer">

        SELECT
        COUNT(*)
        FROM
        user_log
        WHERE
        create_time &lt;= CONCAT(#{queryTime},' 23:59:59')
        and create_time >= CONCAT(#{queryTime},' 00:00:00')
    </select>


    <select id="getVisitCountCharts" parameterType="cn.xianyum.system.entity.request.LogRequest" resultType="cn.xianyum.system.entity.response.LogResponse">

        SELECT
            count(*) as visitCount,
            DATE_FORMAT( ul.create_time, '%Y-%m-%d' ) AS time
        FROM
            user_log ul
        <where>
            <if test="queryTime != null and queryTime != ''">
                AND ul.create_time &gt;= #{queryTime}
            </if>
            <if test="nameOrDesc != null and nameOrDesc != ''">
                AND
                (
                ul.username LIKE CONCAT('%', #{nameOrDesc}, '%')
                OR
                ul.operation LIKE CONCAT('%', #{nameOrDesc}, '%')
                )
            </if>
            <if test="username != null and username != ''">
                AND ul.username = #{username}
            </if>
        </where>
        GROUP BY DATE_FORMAT(ul.create_time,'%Y-%m-%d')
        ORDER BY ul.create_time DESC
        LIMIT 15
    </select>
</mapper>
